<p>Hello you send request to change your password</p>

<p>Your safety code is valid for 30 min</p>

<h2>{{ code }}</h2>

<a href="localhost{{ path('user.reset.password', {id: user.id}) }}">Reset your password</a>