<footer>
    <div class="jumbotron p-4">
        <div class="container d-flex justify-content-between align-items-center">
            <p>All right reserved 2019 Jérôme Farin</p>
        </div>
    </div>
</footer>