<header>
    <div class="jumbotron p-4">
        <div class="container d-flex justify-content-between align-items-center">
            <h1 class="display-3">{% block title %}{{title}}{% endblock %}</h1>
            <div id="member">
                <a href="">Member</a>
            </div>
        </div>
    </div>
</header>