{% extends "base.html.twig" %}

{% block body %}

<div class="container">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore provident eaque unde natus debitis quasi libero, repudiandae enim id consequatur quia blanditiis voluptatum dicta dolores, atque ullam pariatur tempore voluptatem!</p>
</div>

{% endblock %}